- # $Id$
- # $(c)$

%td{colspan: 3}
  = render partial: 'components/form_error', formats: [:html], layout: false, locals: { object: object }
  = form_for object, url: object.new_record? ? receivers_path : receiver_path(object), remote: true, html: {class: "form-horizontal"} do |f|
    .field
      = f.label :serial_number
      \&nbsp;
      = f.text_field :serial, :size => 15, :autofocus => true
    .field
      = f.label :receiver_type
      \&nbsp;
      = f.text_field :receiver_type, :size => 15, :autofocus => true
    = f.submit "Save", class: "btn btn-primary"
    %button.btn.btn-link.cancel Cancel