- # $Id$
- # $(c)$

%td= object.first_last
%td= object.email
%td= object.company
%td= object.role
%td.actions= smart_listing_item_actions [ |
 {name: :edit,    url: edit_user_path(object)}, |
 {name: :destroy, url: user_path(object), confirmation: "Are you sure you want to delete this user?"} |
 ] |