- # $Id: _form.html.haml 29 2015-04-21 01:59:10Z bmck_newco $
- # $(c): Copyright 2015 by Newco $

= form_for @object, url: tire_sample_report_index_path, remote: true, html: {class: "form-horizontal"} do |f|
  %table.table
    %tr
      %td
        .field
          = f.label :sensors
          = f.collection_select :sensors, @sensors, :id, :name, :multiple => true, autofocus: true
      %td
        .field
          = f.label :receivers
          = f.collection_select :receivers, @receivers, :id, :name, :multiple => true, autofocus: true
      %td
        .field
          = f.label :start_date
          %br/
          = f.date_select :start_service, :autofocus => true
        %p/
        .field
          = f.label :end_date
          %br/
          = f.date_select :end_service, :autofocus => true
