- # $Id$
- # $(c)$

%td= company.company_name
%td= company.start_service
%td= company.end_service
%td= company.contact_name
%td= company.contact_address
%td= company.contact_city
%td= company.contact_state
%td= company.contact_zip
%td= company.domain_name
%td.actions= smart_listing_item_actions [ |
 {name: :edit,    url: edit_company_path(company)}, |
 {name: :destroy, url: company_path(company), confirmation: "Are you sure you want to delete this company?"} |
 ] |