- # $Id$
- # $(c)$

%td{colspan: 12}
  = form_for object, url: object.new_record? ? companies_path : company_path(object), remote: true, html: {class: "form-horizontal"} do |f|
    %table.table
      %tr
        %td{:colspan => 2}
          .field
            = f.label :name
            \&nbsp;
            = f.text_field :name, :size => 40, :autofocus => true
      %tr
        %td
          .field
            = f.label :start_service_date
            \&nbsp;
            = f.date_select :start_service, :autofocus => true
        %td
          .field
            = f.label :end_service_date
            \&nbsp;
            = f.date_select :end_service, :autofocus => true
      %tr
        %td{:colspan => 2}
          .field
            = f.label :contact_name
            \&nbsp;
            = f.text_field :contact_name, :size => 32, :autofocus => true
      %tr
        %td{:colspan => 2}
          .field
            = f.label :contact_street_address
            \&nbsp;
            = f.text_field :contact_address, :size => 64, :autofocus => true
      %tr
        %td{:colspan => 2}
          .field
            = f.label 'Contact City, State, and Zip'
            \&nbsp;
            = f.text_field :contact_city, :size => 40, :autofocus => true
            , &nbsp;
            = f.text_field :contact_state, :size => 4, :autofocus => true
            \&nbsp;
            = f.text_field :contact_zip, :size => 10, :autofocus => true
      %tr
        %td{:colspan => 2}
          .field
            = f.label :contact_phone
            \&nbsp;
            = f.text_field :contact_phone, :size => 15, :autofocus => true
      %tr
        %td{:colspan => 2}
          .field
            = f.label :contact_email
            \&nbsp;
            = f.text_field :contact_email, :size => 48, :autofocus => true
      %tr
        %td{:colspan => 2}
          .field
            = f.label :email_domain_name
            \&nbsp;
            = f.text_field :domain_name, :size => 32, :autofocus => true
      %tr
        %td{colspan:2}
          = f.submit "Save", class: "btn btn-primary"
          %button.btn.btn-link.cancel Cancel