- # $Id: _form.html.haml 35 2015-04-22 18:03:47Z bmck_newco $
- # $(c): Copyright 2015 by Newco $

%td{colspan: 3}
  = form_for object, url: object.new_record? ? sensors_path : sensor_path(object), remote: true, html: {class: "form-horizontal"} do |f|
    .field
      = f.label :serial_number
      \&nbsp;
      = f.text_field :serial, :size => 15, :autofocus => true
    .field
      = f.label :sensor_type
      \&nbsp;
      = f.text_field :type, :size => 15, :autofocus => true
    = f.submit "Save", class: "btn btn-primary"
    %button.btn.btn-link.cancel Cancel