- # $Id$
- # $(c)$

%td{colspan: 4}
  = form_for object, url: object.new_record? ? tires_path : tire_path(object), remote: true, html: {class: "form-horizontal"} do |f|
    .field
      = f.label :sensor_id
      \&nbsp;
      = f.text_field :sensor_id, :size => 15, :autofocus => true
    .field
      = f.label :tire_type
      \&nbsp;
      = f.collection_select :tire_type_id, TireType.all, :id, :name, :include_blank => 'No Tire Type Specified', autofocus: true
    .field
      = f.label :company
      \&nbsp;
      = f.collection_select :company_id, Company.all.select { |c| !c.name.nil? }, :id, :name, :include_blank => 'No Company Specified', autofocus: true
    = f.submit "Save", class: "btn btn-primary"
    %button.btn.btn-link.cancel Cancel