#filterrific_results
  %div
    = page_entries_info companies # provided by will_paginate
  %table
    %tr
      %th Name
      %th Begin Service Date
      %th End Service Date
    - companies.each do |company|
      %tr
        %td= link_to(company.name, company_path(company))
        %td= company.start_service
        %td= company.end_service
= will_paginate companies # provided by will_paginate
