-# $Id$
-# $(c)$

%br
- if Rails.env.development? || (@current_user && @current_user.global_admin?)
  %hr
  %br
  %h1 Development Diagnostics
  %br
  Params = #{@parms.inspect}
  %br
  - if @exception
    - if @exception.respond_to?(:message)
      %h3 #{@exception.message}
      - logger.error "\n\n\n#{@exception.message}\n\n"
      %br
    - for e in @exception.backtrace
      - logger.error "#{e}"
      #{e}
      %br
