- # $Id$
- # $(c)$

%td= object.tire_name
%td= object.receiver_name
%td= object.value
%td= object.sample_time

%td.actions= smart_listing_item_actions [ |
 {name: :edit,    url: edit_tire_sample_path(object)}, |
 {name: :destroy, url: tire_sample_path(object), confirmation: "Are you sure you want to delete this tire sample?"} |
 ] |