- # $Id: _list.html.haml 35 2015-04-22 18:03:47Z bmck_newco $
- # $(c): Copyright 2015 by Newco $

- unless smart_listing.empty?
  %table.table.table-striped
    %thead
      %tr
        %th= smart_listing.sortable "Sensor", :sensor_name
        %th= smart_listing.sortable "Receiver", :receiver_name
        %th= smart_listing.sortable "Value", :value
        %th= smart_listing.sortable "Sample Time", :sample_time
        %th
    %tbody
      - smart_listing.collection.each do |tire_sample|
        %tr.editable{data: {id: tire_sample.id}}
          = smart_listing.render object: tire_sample, partial: 'tire_samples/item', locals: {object: tire_sample}
    %tfoot
      = smart_listing.item_new colspan: 5, link: new_tire_sample_path

  -# Render nice pagination links fitted for Bootstrap 3 by default
  .text-center
    = smart_listing.paginate
    = smart_listing.pagination_per_page_links

- else
  %p
  %table
    = smart_listing.item_new colspan: 5, link: new_tire_sample_path