- # $Id$
- # $(c)$

- if user_signed_in?
  - if can? :index, :companies
    %li= link_to 'Companies', companies_path
  - if can? :index, :sensors
    %li= link_to 'Sensors', sensors_path
  - if can? :index, :receivers
    %li= link_to 'Receivers', receivers_path
  - if can? :index, :tire_types
    %li= link_to 'Tire Types', tire_types_path
  - if can? :index, :tires
    %li= link_to 'Tires', tires_path
  - if can? :index, :trucks
    %li= link_to 'Trucks', trucks_path
  - if can? :index, :trailers
    %li= link_to 'Trailers', trailers_path
  - if can? :index, :storages
    %li= link_to 'Storage Facilities', storages_path
  - if can? :index, :tire_samples
    %li= link_to 'Tire Samples', tire_samples_path
  - if can? :index, :tire_sample_report
    %li= link_to 'Chart Tire Samples', new_tire_sample_report_path
  - if can? :index, :user
    %li= link_to 'Users', users_path
  %li= link_to 'Edit Account', edit_user_registration_path
  %li= link_to 'Sign Out', destroy_user_session_path, :method=>'delete'
- else
  %li= link_to 'Sign in', new_user_session_path
  %li= link_to 'Sign up', new_user_registration_path
