- # $Id$
- # $(c)$

!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Newco"
    %meta{:content => "#{content_for?(:description) ? yield(:description) : "Newco"}", :name => "description"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    -# = stylesheet_link_tag controller_name
    = javascript_include_tag 'http://www.google.com/jsapi', "chartkick"
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    -# = javascript_include_tag controller_name
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
      %main{:role => "main"}
        = render 'layouts/messages'
        .main_content
          = yield
